body, html, .App {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}