@import '../../styles/mixins/mixins.scss';

.list {

    @include column;
    position: relative;

    &-row {
        @include row;
    }
    
    &-header {

        @include row; 
    
        &-item {
    
            @include row-item;
        
            font-size: 18px;
            font-weight: 700;
            background-color: #106c97;
             color: #ffe4c4;
            padding: 4px;
    
            &:hover,
            &:visited {
               @include hover-mixin(#545f6d, #e9e64b);
            }
        }

        &--vertical {
            display: none;
        }
     }

        
    &-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: sticky;
        bottom: 0;
        padding: 6px;
        flex-wrap: wrap;

        &-item {
            display: block;
            margin: 0 2px;
            width: 20px;
            height: 20px; 
            font-size: 14px;
            text-align: center;
            font-weight: 400;
            background-color: #38a1d1;
            color: #ffe4c4;
            border-radius: 40px;
      
            &--current {
                background-color: #6e7f96;
                border: 1px solid #ffe4c4; 
                color: #ffe4c4;
            }

            &:hover {
                @include hover-mixin(#526175, #ffe4c4);
            }
        }
    }

}

@media  screen and (max-width: 450px) {
    .list-header {
        display: none;
    }
    .list-header--vertical {
        display: flex;
        @include column;
    }
    .list-row {
        padding: 10px 0;
        border-bottom: 1px solid #38a1d1;
    }
}