body, html, .App {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
.list-header {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.list-header-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  letter-spacing: -1px;
  text-align: center;
  border: 1px ridge;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  font-weight: 700;
  background-color: #91bdc5;
  color: #aa601b;
  padding: 4px;
}
.list-header-item:hover, .list-header-item:visited {
  background-color: #868686;
  color: #e9e64b;
}
.list-controls {
  display: flex;
  max-width: 20em;
  flex-direction: row;
  position: sticky;
  bottom: 6px;
  margin: auto;
  min-width: 100%;
  left: 25%;
  right: 25%;
}
.list-controls-item {
  display: block;
  padding: 4px;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  background-color: #38a1d1;
  color: #926a20;
}
.list-controls-item--current {
  background-color: #6e7f96;
  color: #3cdb64;
}
.list-controls-item:hover {
  background-color: #868686;
  color: #e2e047;
}

.country-tile {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.country-tile:nth-child(2n+1) {
  background-color: #76bbe2;
}
.country-tile:hover {
  background-color: #f0e68c;
  background-color: #f0e68c;
  color: #7e89b9;
}
.country-tile-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  letter-spacing: -1px;
  text-align: center;
  border: 1px ridge;
  font-size: 16px;
  font-weight: 400;
}

.filter {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}
.filter input[type=text] {
  resize: vertical;
  min-width: 220px;
  max-height: 50px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid;
  box-shadow: 4px 4px 10px #5751510f;
  height: 150px;
}
.filter input[type=text]:focus {
  border: 1px solid #0d60be;
  box-shadow: 4px 4px 10px #1919a785;
}
.filter label {
  margin: 0 4px;
  font-size: 18px;
  color: #223254;
}
.filter select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  margin-left: 6px;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.filter select:required:invalid {
  color: #5A667F;
}
.filter select option {
  color: #223254;
}
.filter select option[value=""][disabled] {
  display: none;
}
.filter select:focus {
  outline: none;
  border-color: #0077FF;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}
.filter select:hover {
  stroke: #0077FF;
}

.table-header {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.table-header-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  letter-spacing: -1px;
  text-align: center;
  border: 1px ridge;
  font-size: 16px;
  font-weight: 400;
  font-size: 18px;
  font-weight: 700;
  background-color: #106c97;
  color: #ffe4c4;
  padding: 4px;
}
.table-header-item:hover, .table-header-item:visited {
  background-color: #545f6d;
  color: #e9e64b;
}

/*# sourceMappingURL=index.css.map */
